.parsed-result {
  background-color: rgba($color: #000000, $alpha: 0.2);
  backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 5px 10px;
  width: 440px;
  min-height: 440px;
  color: #fff;
  box-shadow: var(--alley-box-shadow-secondary);
  margin-top: 20px;

  .alley-button {
    --alley-color-button-text: #fff;

    &-plain:hover:not(:disabled) {
      color: #fff;
      background: var(--alley-color-primary);
    }
  }

  .parsed-result-header {
    flex: 1;
  }

  .parsed-links-wrapper {
    flex: 8;
  }

  .parsed-links {
    flex: 8;

    .link {
      color: var(--alley-color-primary);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .parsed-links-note {
    flex: 1;
  }
}

.parsed-result-dialog {
  .alley-dialog-close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    z-index: 99;
  }
}
