#history {
  flex: 1.2;
  background-color: rgba(0, 0, 0, 0.08);
  box-sizing: border-box;

  .history-item {
    background-color: rgba(0, 0, 0, 0.08);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    .alley-divider-horizontal {
      margin: 4px 0;
    }

    .alley-typography-secondary {
      font-size: 0.8rem;
    }

    .row {
      & > div.col {
        min-height: inherit;
      }
    }
  }

  &.history-empty {
    display: flex;
    justify-content: center;
    align-items: center;

    .empty {
      opacity: 0.5;
    }
  }
}
