#history {
  flex: 1.2;
  box-sizing: border-box;
  overflow-y: auto;
  height: 600px;
  z-index: 2; /* 防止被底部关于栏覆盖 */

  .history-item {
    --history-item-color-shadow: #00000085;

    background-color: rgba(0, 0, 0, 0.08);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 5px 1px var(--history-item-color-shadow);
    }

    .alley-divider-horizontal {
      margin: 4px 0;
    }

    .alley-typography-secondary {
      font-size: 0.8rem;
    }

    .row {
      & > div.col {
        min-height: inherit;
      }
    }
  }

  &.history-empty {
    display: flex;
    justify-content: center;
    align-items: center;

    .empty {
      opacity: 0.5;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #history {
    .history-item {
      --history-item-color-shadow: #ffffff2e;
    }
  }
}
